<%- include header.ejs %>
<script src="/choose.js"></script>
<h1>Choose Two Plans to Compare</h1>

<div  class="row">
	<!-- left and right placeholders for ajax content -->
	<div id="left" class="col s6"></div>
	<div id="right" class="col s6"></div>
</div>

<!-- Submit button for form -->
<button class="btn waves-effect waves-light" id="submit">Compare
  <i class="material-icons right">send</i>
</button>

<%- include footer.ejs %>
