	</div>

	<footer class="page-footer">
	  <div class="container">
	    <div class="row">
	      <div class="col l6 s12">
	        <h5 class="white-text">67-328: Mobile to Cloud Final Project</h5>
	        <p class="grey-text text-lighten-4">Carnegie Mellon University, Information Systems</p>
	      </div>
	    </div>
	  </div>
	  <div class="footer-copyright">
	    <div class="container">
	    © 2017 Copyright Karan Bokil
	    <a class="grey-text text-lighten-4 right" href="mailto:kbokil@andrew.cmu.edu">Email</a>
	    </div>
	  </div>
	</footer>
</body>
</html>